@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/error-notifier.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")


    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.js")
    @Scripts.Render("~/Scripts/knockout-2.3.0.js")

    <script src="~/Scripts/User/knockout.mapping-latest.debug.js"></script>
    @Scripts.Render("~/Scripts/jqueryNotification.js")
    @Scripts.Render("~/Scripts/jquery.blockUI.js")
    @Scripts.Render("~/Scripts/AppCommonScript.js")


    <title>Subscribe with VCNR!!</title>
    <link rel="shortcut icon" href="~/img/Splitted_Images/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="Last Minute Keys" />
    <meta name="description" content="Last Minute Keys" />

    <style type="text/css">
        body {
            background-image: url("../../img/sub_Images/background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        #divClk {
            top: 0px;
            width: 50px;
            height: 50px;
            background-image: url('../../img/sub_Images/Clock-Rotating.gif');
            background-repeat: no-repeat;
            margin-left: 599px;
            margin-top: 100px;
        }

        div.textInput {
            position: absolute;
            top: 0px;
            width: 400px;
            height: 80px;
            background-image: url('../../img/sub_Images/email_input.png');
            background-repeat: no-repeat;
            margin-left: 500px;
            margin-top: 400px;
        }

        #button {
            width: 46px;
            height: 46px;
            margin-left: 290px;
            margin-top: -60px;
            z-index: -1;
        }

        #emailText {
            width: 270px;
            height: 25px;
            font-size: medium;
            margin-left: 10px;
            margin-top: 10px;
            border: none;
            outline: none;
            transition: height 1s;
             background: transparent;
            -webkit-transition: height 1s;
            background-color: #FCF6E9;
            color: #AD8C08;
        }
    </style>
</head>

<body>
    <div id="divClk" class="clockRotate">
        <img src="~/img/sub_Images/Clock-Rotating.gif" width="150" height="150" />
    </div>

    <div id="divText" class="textInput">
        <div style="float:left">
            <input id="emailText" data-bind="value:Email" type="text" />
        </div>
        <div style="float:left">
            <a href="#" data-bind="click:SubmitSub" id="button"><img src="~/img/sub_Images/subscribe_button.gif" style="margin-top:-50px; padding: 6px; padding-left: 5px;" /></a>


        </div>

    </div>
    <script src="@Url.Content("~/Scripts/Subscribe/submit.js")" type="text/javascript"></script>
</body>
</html>
